In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df=pd.read_csv("Used_Bikes.csv")
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [44]:
df.duplicated().sum()

np.int64(25324)

Remove unnecessary details and data

In [45]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

Check if there is missing value or not. If present then fill data in it

In [46]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

ML is a mathematical based algoritham / it understand only number 0-9 . not understang  alphabets anf alphanumerical values

inter encoding = convert into (1,2,3,4,5,6,7) 

one hot encoding = (0,1)

In [47]:
df["owner"].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

owner name is alphabetical values . need to convert into numbers

In [48]:
dt={"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}

In [49]:
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

to convert into numerical here we use map() function . this will change the value accordingly the dictionary we made and set values (1,2,3,4) to keys( First Owner, Second Owner ,Third Owner,Fourth Owner Or More)

In [50]:
df["owner"].map(dt)

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

This is also known as ordinalencoding  = assign intergers in a meaningfull order.

But in label encoding , we can assign any integer no without any meaning

In [51]:
df["owner"]=df["owner"].map(dt)

In [52]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [53]:
df["brand"].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [56]:
df=((df["brand"]=="Bajaj")(df["brand"]=="Royal Enfield")(df["brand"]=="Hero")(df["brand"]=="Honda")(df["brand"]=="Yamaha")(df["brand"]=="TVS")(df["brand"]=="KTM")(df["brand"]=="Suzuki")(df["brand"]=="Harley-Davidson")(df["brand"]=="Kawasaki")(df["brand"]=="Hyosung")(df["brand"]=="Mahindra"))

TypeError: 'Series' object is not callable