In [164]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [165]:
df=pd.read_csv("Used_Bikes.csv")
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [166]:
df.duplicated().sum()

np.int64(25324)

Remove unnecessary details and data

In [167]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

Check if there is missing value or not. If present then fill data in it

In [168]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

ML is a mathematical based algoritham / it understand only number 0-9 . not understang  alphabets anf alphanumerical values

inter encoding = convert into (1,2,3,4,5,6,7) 

one hot encoding = (0,1)

In [169]:
df["owner"].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

owner name is alphabetical values . need to convert into numbers

In [170]:
dt={"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}

In [171]:
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

to convert into numerical here we use map() function . this will change the value accordingly the dictionary we made and set values (1,2,3,4) to keys( First Owner, Second Owner ,Third Owner,Fourth Owner Or More)

In [172]:
df["owner"].map(dt)

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

This is also known as ordinalencoding  = assign intergers in a meaningfull order.

But in label encoding , we can assign any integer no without any meaning

In [173]:
df["owner"]=df["owner"].map(dt)

In [174]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [175]:
df["brand"].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [176]:
brand_ls=list(df["brand"].value_counts().head(16).keys())
brand_ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [177]:
df2=df[df["brand"].isin(brand_ls)]
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [178]:
l2=list[df2["brand"].value_counts().keys()]
l2

list[Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW'],
      dtype='object', name='brand')]

In [179]:
# dictionary comprehension
brand_dict={brand:i for i ,brand in enumerate(list(df2["brand"].value_counts().keys()),start=1)}
print(brand_dict)
df2["brand"]=df2["brand"].map(brand_dict)

{'Bajaj': 1, 'Royal Enfield': 2, 'Hero': 3, 'Honda': 4, 'Yamaha': 5, 'TVS': 6, 'KTM': 7, 'Suzuki': 8, 'Harley-Davidson': 9, 'Kawasaki': 10, 'Hyosung': 11, 'Mahindra': 12, 'Benelli': 13, 'Triumph': 14, 'Ducati': 15, 'BMW': 16}

C:\Users\HARSH KUMAR SAINI\AppData\Local\Temp\ipykernel_19568\4002713246.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["brand"]=df2["brand"].map(brand_dict)

In [180]:
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,3
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,1
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,9
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,1
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,1

Feature selection method == deleting column

In [181]:
df2.drop(["bike_name","city"],axis=1,inplace=True)

C:\Users\HARSH KUMAR SAINI\AppData\Local\Temp\ipykernel_19568\378100966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(["bike_name","city"],axis=1,inplace=True)

In [182]:
df2.head(4)

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6

x are features and y are target

In [183]:
x=df2.drop("price",axis=1)
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [184]:
y=df2[["price"]]
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [185]:
from sklearn.model_selection import train_test_split

In [186]:
train_test_split(x,y,test_size=0.2)   #  test size =20% so training size=80%

[      kms_driven  owner   age   power  brand
 1041      8351.0      1   2.0   110.0      4
 7476     45000.0      1   5.0   320.0      5
 4828      4600.0      1   4.0  1200.0     14
 2815     47489.0      1   5.0   150.0      5
 748       3000.0      1   5.0   350.0      2
 ...          ...    ...   ...     ...    ...
 2486     29000.0      1   5.0   500.0      2
 1434     30000.0      1   9.0   200.0      7
 2419     42945.0      1  15.0   100.0      1
 308      22560.0      1  11.0   150.0      1
 6896     12542.0      1   5.0   350.0      2

 [5845 rows x 5 columns],
       kms_driven  owner   age  power  brand
 1982     12000.0      1   3.0  100.0      3
 6803     22300.0      1   4.0  150.0      3
 5849     89999.0      1   4.0  100.0      3
 3563     26008.0      1   4.0  150.0      3
 7619     35000.0      2  11.0  135.0      1
 ...          ...    ...   ...    ...    ...
 8458     34000.0      1  20.0  100.0      3
 477      13500.0      1   4.0  160.0      4
 2543     37248.0      1  11.0  220.0      1
 8040     26000.0      1   4.0  150.0      4
 3996     19617.0      1   6.0  100.0      3

 [1462 rows x 5 columns],
          price
 1041   55000.0
 7476  250000.0
 4828  950000.0
 2815   75000.0
 748   133600.0
 ...        ...
 2486  132100.0
 1434   64999.0
 2419    9000.0
 308    42100.0
 6896  102000.0

 [5845 rows x 1 columns],
         price
 1982  50000.0
 6803  45000.0
 5849  26365.0
 3563  48500.0
 7619  22000.0
 ...       ...
 8458  15000.0
 477   70000.0
 2543  26800.0
 8040  70000.0
 3996  26000.0

 [1462 rows x 1 columns]]

In [187]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)   #  test size =20% so training size=80%

In [188]:
x_train

      kms_driven  owner   age  power  brand
3181     50000.0      1   5.0  100.0      1
362      18000.0      1   6.0  150.0      1
5573     37000.0      1   8.0  100.0      1
1939      6200.0      1   4.0  350.0      2
1928      7000.0      1   4.0  300.0     13
...          ...    ...   ...    ...    ...
8135     53817.0      1   9.0  180.0      6
6360     14000.0      1  11.0  150.0      3
6456     38554.0      1   7.0  150.0      5
3872     36000.0      1   5.0  150.0      3
4383     11258.0      1   3.0  160.0      6

[5845 rows x 5 columns]

Linear regression model tranning

In [189]:
from sklearn.linear_model import LinearRegression   # algorithm import

LinearRgression in a class

In [190]:
lnr=LinearRegression()

In [191]:
lnr.fit(x_train,y_train)   # use to train

LinearRegression()

In [192]:
lnr.score(x_train,y_train)*100   # 75% accuracy  . it is  score of seen data ( train data)

74.06819122794317

In [193]:
# unseen data score (test data)
lnr.score(x_test,y_test)*100

73.591635273987

prediction

In [194]:
y_test

         price
2710   40000.0
2321   33000.0
7302   21000.0
5648   66000.0
4584  200000.0
...        ...
6916  152500.0
8756   47500.0
1960   23500.0
5279  430000.0
5292   44600.0

[1462 rows x 1 columns]

In [195]:
prediction=lnr.predict(x_test)

In [196]:
y_test["Prediction"]=prediction

In [197]:
y_test.head(20)

         price     Prediction
2710   40000.0   64316.695899
2321   33000.0   15366.706196
7302   21000.0   43452.972989
5648   66000.0   58174.662299
4584  200000.0  224098.419843
4501   78000.0  115855.455803
6684  109999.0  156038.529995
3188   23000.0   25412.720999
8880   81000.0   50580.892451
1512  130000.0  225718.452029
3170  120000.0  213366.777070
621    25000.0    7583.426567
1668  200000.0  169567.581100
6317   48000.0   46028.556651
3905   50000.0   65113.719962
4880  287500.0  196574.068850
1703   39799.0   21276.972940
5952  250000.0  110098.809219
808    18500.0   -6606.812930
121    48672.0   30355.405233

In [198]:
x_train

      kms_driven  owner   age  power  brand
3181     50000.0      1   5.0  100.0      1
362      18000.0      1   6.0  150.0      1
5573     37000.0      1   8.0  100.0      1
1939      6200.0      1   4.0  350.0      2
1928      7000.0      1   4.0  300.0     13
...          ...    ...   ...    ...    ...
8135     53817.0      1   9.0  180.0      6
6360     14000.0      1  11.0  150.0      3
6456     38554.0      1   7.0  150.0      5
3872     36000.0      1   5.0  150.0      3
4383     11258.0      1   3.0  160.0      6

[5845 rows x 5 columns]

In [199]:
x_train.shape

(5845, 5)

In [200]:
import os,joblib

In [201]:
os.makedirs("models",exist_ok=True)

In [202]:
joblib.dump(lnr,"./models/linear_model.lb")

['./models/linear_model.lb']